
<div class="article-single">
<article>
<h2><%= @article.title.capitalize %></h2>


<p><%= @article.content.capitalize %></p>
</article>
</div>

<button type="button" class="btn btn-primary "><%= link_to 'Delete',
  article_path(@article),
  method: :delete,
  data: { confirm: 'Are you sure you want to delete this article?'}
%></button>
